<div class="page-body" id="register-page">
  <h2 class="mat-h2">Register</h2>
  <form [formGroup]="registerForm" novalidate>
    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" formControlName="password" type="password">
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email" type="email">
      </mat-form-field>
    </div>

    <button mat-raised-button class="mat-primary" (click)="register()" [disabled]="!registerForm.valid">Register</button>
    <a mat-button class="mat-accent" routerLink="/login">Login</a>
  </form>
</div>
