<mat-toolbar id="top-menu" color="primary">
  <div class="left-side">
    <h1 class="mat-h1">Easybet</h1>
  </div>

  <div class="center">
    <a mat-button *ngFor="let menu of common" [routerLink]="menu.link" routerLinkActive="active">{{menu.title}}</a>
  </div>

  <div class="right-side">
    <div *ngIf="!tokenService.getToken()">
      <a mat-button routerLink="/login" routerLinkActive="active">Login</a>/
      <a mat-button routerLink="/register" routerLinkActive="active">Register</a>
    </div>
    <div *ngIf="tokenService.getToken()">
      <a mat-button routerLink="#" routerLinkActive="active" >Welcome {{authService.getCurrentUser()}} </a>/
      <a mat-button (click)="logout()">Logout</a>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
