<div class="page-body" id="register-page">
  <h2 class="mat-h2">Register</h2>
  <form [formGroup]="registerForm" novalidate>
    <mat-error *ngIf="this.error">{{this.error}}</mat-error>
    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" formControlName="username">
        <mat-error *ngIf="registerForm.get('username').invalid">Username is needed</mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" formControlName="password" type="password">
        <mat-error *ngIf="registerForm.get('password').invalid">Password is needed</mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email" type="email">
        <mat-error *ngIf="registerForm.get('email').hasError('email')">Not a valid email address</mat-error>
        <mat-error *ngIf="registerForm.get('email').hasError('required')">Email is needed</mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button class="mat-primary" (click)="register()" [disabled]="!registerForm.valid">Register</button>
    <a mat-button class="mat-accent" routerLink="/login">Login</a>
  </form>
</div>
